
.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}


.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: #e74c3c;
    display: block;
    transition: all 0.6s;
}

.middle-bar{
    margin: 5px auto;
}


.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
    background-color: #FEBE10;
}

.navbar2{

    margin-left:5rem;
}
.navbar{
    padding-top: 0rem;
    /* height:90px; */
}
.container-fluid{
    background-color: rgb(0,1,31);
    margin-top: 0;
}
/* #col{
    background-color: rgb(0,1,63);
} */
.navitem{

    margin-left:2rem;
    font-size:18px;
    color:aliceblue;
    
   
    
    
}

/* #navbarSupportedContent
{
    display: flex;
    justify-content: flex-end;
} */
img{
    height:60px;
    width:90px;
    margin-right:2rem;
    margin-bottom: 0.5rem;
}

.fmargin{
    margin-left:3px;
    /* margin-right: 20rem; */
    text-decoration: none;
    font-size:35px;
    
    /* background: rgb(238,226,174);
background: radial-gradient(circle, rgba(238,226,174,1) 0%, rgba(211,189,65,1) 21%, rgba(233,220,148,1) 55%); */
    color:#FEBE10;
    
}

button{
    color:#FEBE10;
}
/* #col:hover{
    color:white;
} */
.navitem:hover{
   
    
    background-color: #FEBE10;
   
    color:rgb(252, 252, 252);
    border-radius: 5px;
    transition: 0.2s;
   
    
    
} 

.navitem:link{
    color:black;
}